go 1.20

use (
	./abstractFactory
	./builder
	./factory
	./singleton
	./objectPool
	./prototype
	./chainOfResponsibility
	./command
	./iterator
	./mediator
	./memento
	./nullObject
	./observer
	./state
	./strategy
	./templateMethod
	./visitor
)
